.login_container{
 background-color: rgba(245, 209, 245, 0.605);
        box-sizing: border-box;
    max-width: 1060px;
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid purple;
    box-shadow: 3px 3px 5px rgb(58, 6, 58);
    
}
.login_container img{
    margin: 10px auto 10px 370px;
}


.navbar-brand{
    font-family: 'Engagement', cursive;
    font-size: 40px;
    color:white;
    text-shadow:5px 5px 20px rgb(36, 35, 35);

    
}
.navbar-brand img{
    height: 50px;
    width:50px;
    margin-right: 10px;
}
.navbar{
    border-radius: 10px;
    box-shadow: 10px 8px 10px #5d5c61,-3px -3px 7px #5d5c61;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color:#d3b3eac9;
    }
    .navbar-nav a{
        
        color:white;
        text-shadow:5px 5px 10px rgb(119, 117, 117);
        font-size: 20px;
        padding-bottom: 0;
        font-family: 'Merriweather', serif;
    }
  .first{
      
     position: absolute;
     right:10px;
     top:20px;
  }


.form-control::placeholder{
    color:purple;
}
.btn{
    background-color:rgb(223, 53, 223);
   }
